@charset "utf-8";
/* CSS Document */
body {
  font-family: 'Courier New', monospace;
  background-color: #000000;
  color: white;
	max-width: 1050px;
	/* margin-left: auto;
	margin-right: auto;
	margin-top: 30px; */
	overflow: none;
}

.indent {
	margin-left:50px;
}

h1 {
  font-size: 110%;
}

a {
	color: #A9A9A9;
}

.image {
}

.entry {
  padding: 10px;
	border-radius: 0 10px 30px 0;
	margin-bottom: 10px;
	/* background: #2a2a35; */
	border: 2px solid #FFFFFF;
}

pre code {
  background-color: #1a1b1c;
  border: 1px solid #FFFFFF;
  display: block;
  padding: 20px;
}
